{% extends 'cookie/base.html' %}


{% block content %}
    <div class="body-wrapp search" id="search">
        <div class="row-search-result">
            <div class="title-search-result">
                <p>Товары по запросу &#8220;{{ text_query }}&#8221;</p>
            </div>
            <div class="list-search-result">
                    {% for product in products %}
                    <a id="" href="{% url 'cookie:product' product.object.id %}">
                        <div class="item-search-result">
                            <div class="item-search item-search-img">
                                <img src="{{ product.object.photo_for_slider.url}}" />
                            </div>
                            <div class="item-search item-search-name">
                                <p>
                                    {{ product.name }}
                                </p>
                            </div>
                            <div class="item-search item-search-price">
                                <p>
                                    {{ product.price }} Р/кг
                                </p>
                            </div>
                            <div class="item-search item-search-descript">
                                <p>
                                    {{ product.description }}
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
            </div>
            </div>
            <div class="pagination-wrapp pagination-search-result">
                <div class="pagination">
                    {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">пред.</a>
                    {% endif %}
                {% for num in products.paginator.page_range %}
                    {% if products.has_next %}
                        {% if num == products.number %}
                        <span class="current"><b>{{ num }}</b></span>
                        {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% elif products.has_previous %}
                        {% if num == products.number %}
                        <span class="current"><b>{{ num }}</b></span>
                        {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">след.</a>
                {% endif %}
                </div>
        </div>
    </div>
<div class="space space-after-catalog"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
        $(window).load(function (e) {
            $('html,body').stop().animate({scrollTop: $('#search').offset().top}, 700);
            e.preventDefault();
        });
</script>
{% endblock content %}

