@font-face {
    font-family: garamond_regular;
    src: url("/static/cookie/font/EBGaramond-Regular.ttf");
}

@font-face {
    font-family: garamond_bold;
    src: url("/static/cookie/font/garamond-bold.ttf");
}

@font-face {
    font-family: Lora_regular;
    src: url("/static/cookie/font/Lora-Regular.ttf");
}

@font-face {
    font-family: Lora_italic;
    src: url("/static/cookie/font/Lora-Italic.ttf");
}

@font-face {
    font-family: Lora_Bold;
    src: url("/static/cookie/font/Lora-Bold.ttf");
}

html{
    width: 100%;
    margin: 0;
    min-height: 100%;
}

body{
    margin: 0;
    width: 100%;
    min-width: 1200px;
    height: auto;
    min-height: 100%;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #A78C71;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

p{
    font-family: garamond_regular;
    font-size: 14pt;
}

.main-wrapp{
    width: 100%;
    min-width: 1200px;
    margin: auto;
    position: absolute;
    height: auto;
    background-color: #F4EFE9;
    z-index: 1;
    min-height: 100%;
}

.back-top{
    position: absolute;
    width: 100%;
    height: 145px;
    background-color: #1E0F00;
    z-index: 2;
}

.back-middle{
    position: absolute;
    width: 100%;
    height: 400px;
    margin-top: 145px;
    background: white  url("/static/cookie/img/back-middle.png") repeat left top;
    z-index: 2;
}

/*core wrap*/

.wrapper{
    position: relative;
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 91px;
    background-color: white;
    min-height: 100%;
    z-index: 2;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

/*menu*/

.wrapp-menu{
    background-color: #1E0F00;
}

.menu{
    width: 100%;
    height: 50px;
    background: white;
}

.menu a{
    font-family: garamond_regular;
    font-size: 14pt;
}

.menu-line{
    background-color: white;
    width: 100%;
    height: 2px;
}

.menu-top-line{
    margin-bottom: 2px;
}

.menu-bot-line{
    display: inline-block;
    position: absolute;
    top: 52px;
    margin-top: 4px;
    z-index: 4;
}

.menu-elem{
    width: auto;
    height: 30px;
    text-align: left;
    margin: auto;
    padding-top: 15px;
}

.menu-elem-left{
    float: left;
    padding-top: 12px;
    margin-right: 95px;
}

.menu-contact a{
    text-decoration: none;
}

.menu-elem-right{
    float: right;
}

.menu-search {
    height: 28px;
    width: 235px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-field {
    height: 28px;
    border: 1px solid #C4C4C4;
    border-radius: 5px 5px 5px 5px ;
}

.menu-search input {
    border: none;
    width: 190px;
    height: 26px;
    float: left;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 9pt;
    background-color: transparent;
    outline-color: #476b22;
}

.menu-search input::placeholder{
    font-family: Lora_italic;
    font-size: 9pt;
}

.menu-search button{
    height: 30px;
    width: 30px;
    float: right;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
}

.menu-search button:hover{
    cursor:pointer;
}

.menu-search img {
    background-color: transparent;
    height: 15px;
    width: 15px;
    margin-top: -1px;
    margin-right: 10px;
    float: right;
}

.menu-basket{
    float: right;
    padding-top: 16px;
    width: 20px;
    height: 20px;
    margin-right: 32px;
}

.basket-field{}

.count-basket{
    position: absolute;
    height: 15px;
    width: 26px;
    background-color: #476B22;
    color: white;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    top: 16px;
    margin-left: 10px;
}
.count-basket p{
    font-family: Lora_regular;
    font-size: 9pt;
    padding-top: 1px;
    padding-left: 1px;
    margin: 0;
}
.menu-basket img {
    height: 20px;
    width: 20px;
}

.wrapp-left-menu{
    width: 500px;
    height: 50px;
    margin-left: 50px;
    float: left;
}



.wrapp-right-menu{
    margin-right: 50px;
    float: right;
    margin-top: -50px;
}

.wrapp-logo{
    width: 150px;
    height: 50px;
    margin: auto;
}

.logo{
    position: absolute;
    width: 136px;
    height: 182px;
    margin-top: -68px;
    background: transparent   url("/static/cookie/img/logo.png") no-repeat left top;
    z-index: 11;
}

/*slider*/

.wrapp-slide{
}

.bx-wrapper{
}

.slider{
    width: 100%;
    height: 400px;
    background-color: #79aec8;
}

.slide{
    width: 1200px;
    height: 400px;
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 70px 50px rgba(0, 0, 0, 0.3) !important;
    text-align: center;
}

.bx-viewport{
    height: 400px !important;
}

.slide img{
    width: 1200px;
    position: absolute;
    vertical-align: middle;
    z-index: -2;
}

.first-slide{

}

.second-slide{

}

.third-slide{

}

.forth-slide{

}

.hit-week{
    display: inline-block;
    width: 100%;
    height: 180px;
    margin-top: 90px;
}

.row-hit-top-text{
    width: 100%;
    height: 20px;
    z-index: 40;
}

.row-hit-this-month{
    width: 300px;
    margin: auto;
    height: 20px;
    z-index: 40;
}

.rushechka{
    height: 15px;
    width: 71px;
    margin: auto;
    float: left;
    padding-top: 4px;
}

.rushechka img{
    width: 71px;
    height: 10px;
}

.rushechka-right{
    transform: rotate(180deg);
    float: left;
}

.hit-this-month{
    width: 142px;
    height: 20px;
    float: left;
    margin: auto;
}

.hit-this-month p{
    padding: 0;
    margin: 0;
    color: white;
    font-family: Lora_italic;
    font-size: 11pt;
}

.row-title-hit-month{
    width: 100%;
    height: auto;
    text-align: center;
}

.row-title-hit-month p{
    padding: 0;
    margin: 5px 0 0 0 ;
    font-family: garamond_regular;
    font-size: 26pt;
    color: white;
}

.row-line-after-title-hit-month{
    width: 100%;
    height: 1px;
    z-index: 40;
}

.line-after-title-hit-month{
    width: 330px;
    height: 1px;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    opacity: 0.8;
}

.row-descript-hit-month{
    width: auto;
    height: 50px;
}

.descript-hit-month{
    width: 650px;
    height: 50px;
    margin: auto;
    text-align: center;
}

.descript-hit-month p{
    font-family: garamond_regular;
    font-size: 14pt;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row-button-hit-month{
    margin-top: 20px;
    width: 100%;
    height: 35px;
}

.button-hit-wrap{
    margin: auto;
    width: 215px;
    height: 35px;
}

.button-hit-month {
    margin: auto;
    width: 215px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #476B22, #3B591C);
    text-decoration: none;
}

.button-hit-month:hover {
    background: linear-gradient(to top, #476B22, #3B591C);
}

.button-hit-month a{
}

.button-hit-month p{
    padding-top: 9px;
    font-family: Arial;
    font-size: 11pt;
    color: white;
}

.bx-pager{
    padding-top: 13px!important;
    top: 396px;
}

.bx-pager-item{
    width: 15px;
}

.bx-pager-link{
    margin: auto !important;
    background-color: white!important;
    border: 1px solid #987858;
    width: 8px !important;
    height: 8px !important;
    border-radius: 4px 4px 4px 4px !important;


}

.bx-pager-link a{

}

.bx-pager-link.active{
    background-color: #987858!important;
}

/*main body*/

.body-wrapp{
    width: 1080px;
    height: auto;
    margin: auto;
    background-color: white;
    z-index: 4;
}

.space {
    width: 100%;
    margin: auto;
    background-color: white;
}

.float-left{
    float: left;
}

.row-after-slider{
    height: 68px;
    background-color: white;
}

.divide-wrapp{
    width: 100%;
    height: 0px;
    margin: auto;
    float: left;
    z-index: 21;
}

.divide{
    width: 50%;
    height: 1px;
    margin: auto;
    background-color: #A78C71;
    z-index: 22;
}

.wrapp-figure{
    width: 59px;
    height: 28px;
    margin: auto;
}

.figure{
    position: absolute;
    width: 59px;
    height: 28px;
    margin-top: -14px;
    background-color: transparent;
    z-index: 11;
}

.figure img{
    width: 59px;
    height: 28px;
}

.row-after-divide{
    height: 50px;
    background-color: white;
}

/*about company*/

.row-about-company{
    width: 100%;
    height: auto;
    background-color: transparent;

}

.title-about-company{
    width: 200px;
    height: 45px;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.title-about-company p{
    margin: 0;
    font-family: garamond_regular;
    font-size: 24pt;
}

.text-about-company{
    width: 100%;
    height: 90px;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.text-about-company p{
    margin: 0;
    font-family: garamond_regular;
    font-size: 14pt;
}

.row-after-about-company{
    height: 50px;
    background-color: white;
}

/*our pluses*/

.row-our-pluses{
    width: 100%;
    height: 165px;
    background-color: transparent;
}

.plus{
    width: 360px;
    height: 165px;
    background-color: transparent;

}


.advantages{
    width: 300px;
    margin: auto;
    height: 165px;
    background-color: transparent;
    text-align: center;
}

.advantages-left{
    float: left;
}

.advantages-right{
    float: right;
}

.advantages-img{
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
}

.advantages-img img{
    height: 50px;
}

.advantages p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.advantages-title p{
    font-size: 18pt;
    margin-bottom: 0;
}

.left-plus{
    float: left;
}

.middle-plus{
    float: left;
}

.right-plus{
    float: right;
}

.row-after-pluses{
    height: 50px;
    background-color: white;
}

.divide-after-pluses{
    width: 55.55555%;
}

/*our products*/

.row-our-production{
    width: 100%;
    height: 750px;
}

.row-title-our-production{
    width: 100%;
    height: 33px;
}

.title-our-production{
    width: 300px;
    height: 70px;
    margin: auto;
    text-align: center;
}

.title-our-production p{
    font-size: 24pt;
    margin: 0;
}

.row-after-title-procucts{
    height: 50px;
    background-color: white;
}

.space-between-product{
    width: 30px;
    height: 290px;
    float: left;
}

.row-our-production-feature{
    width: 100%;
    height: auto;
}

.first-row-our-production{

}

.row-after-first-products{
    height: 50px;
    background-color: white;
    float: left;
}

.second-row-our-production{

}

.row-products-list{
    width: 1125px;
    height: 550px;
}

.product-wrap{
    width: 375px;
    height: 332px;
    float: left;
}

.product{
    width: 330px;
    height: 275px;
    float: left;
}


.product-pic{
    width: 330px;
    height: 190px;
    background-color: transparent;
}

.product-pic img{
    width: 330px;
    height: 190px;
}

.product-descript{
    width: 330px;
    height: 100px;
}

.name-product{
    width: 330px;
    height: 50px;
}

.name-product p{
    margin: 0;
    font-size: 18pt;
    padding-top: 15px;

}

.text-product{
    width: 330px;
    height: 50px;
}

.text-product p{
    margin: 0;
}

.row-after-our-products{
    height: 50px;
    background-color: white;
}

/*our contacts*/

.row-our-contacts{
    width: 100%;
    height: auto;
}

.title-our-contacts{
    width: 200px;
    height: 45px;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.title-our-contacts p{
    margin: 0;
    font-family: garamond_regular;
    font-size: 24pt;
}

.text-our-contacts{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.text-our-contacts p{
    margin: 0;
    font-family: garamond_regular;
    font-size: 14pt;
}

.row-list-contacts{
    width: 1080px;
    margin: auto;
    margin-top: 20px;
    height: 44px;
}

.wrap-elem-contacts{
    width: 360px;
    height: auto;
    float: left;
}

.elem-contacts{

}

.elem-contacts-map{
    float: right;
}

.elem-contacts-phone{
    width: 150px;
    margin: auto;
}
.elem-contacts-email{
    float: left;
}

.elem-contacts-img{
    width: 20px;
    float: left;
}

.elem-contacts-img img{
    margin-top: 10px;
    width: 20px;
}

.elem-contacts-text{
    text-align: left;
    float: left;
}

.elem-contacts-text p{
    margin: 0;
    margin-left: 10px;
    font-family: Lora_regular;
    font-size: 12pt;
}

.elem-contacts-email p{
    margin-top: 10px;
}

.row-after-body-wrapp{
    height: 50px;
    background-color: white;
}

.main-map{
    width: 1200px;
    height: 310px!important;
}

/*footer*/

.footer{
    width: 100%;
    height: 220px;
    background-color: #1E0F00;
}

.footer-wrapp{
    width: 1080px;
    height: 220px;
    margin: auto;
}

.footer-part{
    width: 360px;
    float: left;
    height: 220px;
    background-color: #1E0F00;
    text-align: left;
}

.footer-part p{
    font-family: Arial;
    font-size: 10pt;
    color: #574736;
}

.footer-right-part{
    text-align: right;
}

.footer-right-part p{
    margin-top: 85px;
}

.footer-left-part p{
    margin-top: 80px;
}

.footer-center-part{
    text-align: center;
}

.footer-center-part img{
    margin-top: 60px;
}

/*Catalog*/

.catalog{
    height: 1009px;
}

.catalog-wrapp{
    width: 1125px;
    height: 989px;
}

/*left menu*/

.left-menu{
    width: 198px;
    height: auto;
    float: left;
}

.category-menu-name{
    margin-top: 6px;
    width: 198px;
    height: 30px;
}

.menu-marker{
    float: left;
    width: 6px;
    height: 6px;
    background-color: #A78C71;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin-top: 12px;
    margin-left: -15px;
}

.menu-catalog-elem{
    float: left;
    width: 168px;
}

.menu-catalog-elem p {
    margin: 0;
}

/*product list in catalog*/

.product-list{
    width: 912px;
    float: left;
}

.row-our-production-in-catalog{
    width: 100%;
    height: auto;
}

.row-title-our-production-in-catalog{

}

.row-title-in-catalog{
    width: 100%;
    height: 45px;
}

.title-our-production-in-catalog{

}

.title-in-catalog{
    width: 100%;
    height: 45px;
    margin: auto;
    background-color: transparent;
    float: left;
    text-align: left;
}

.title-in-catalog p{
    margin: 0;
    font-family: garamond_regular;
    font-size: 24pt;
}

.row-after-title-procucts-in-catalog{
    height: 20px;
}


.row-our-production-feature-in-catalog{
    width: 100%;
    height: auto;
}


.product-in-catalog{
    width: 304px;
    height: 308px;
    float: left;
    text-align: left;
}

.product-elem-in-catalog{
    width: 274px;
}

.product-elem-in-catalog p{
    margin: 0;
    font-family: garamond_regular;
}

.product-pic-in-catalog{
    height: 158px;
}

.product-pic-in-catalog img{
    width: 274px;
    height: 158px;
}

.product-descript-in-catalog{
    width: 274px;
    height: 100px;
}

.name-product-in-catalog{
    height: 30px;
}

.name-product-in-catalog p{
    font-size: 18pt;
}

.price-product-in-catalog{
    height: 30px;
}

.price-product-in-catalog p{
    padding-top: 5px;
    font-family: Lora_regular;
    font-size: 12pt;
}

.text-product-in-catalog{
    height: 50px;
}

.row-after-our-products-in-catalog{
    height: 50px;
}

.space-after-catalog{
    width: 100%;
    height: 50px;
}

/*пагинатор*/

.pagination-wrapp{
    width: 882px;
    height: auto;
    float: right;
}

.pagination{
    width: 200px;
    height: auto;
    margin: auto;
    text-align: center;
}

.pagination a{
    font-family: Lora_regular;
    font-size: 12pt;
    margin-right: 10px;
}

.pagination a:hover{
    text-decoration: underline;
    color: black;
}

.pagination b{
    font-family: Lora_regular;
    font-size: 12pt;
    margin-right: 10px;
    color: #A78C71;;
}

/*popup*/

#modal_form {
	width: 480px;
	height: 260px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 7px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -140px;
	margin-left: -240px;
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 50; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}

.modal_form_wrap{
    width: 400px;
    height: 180px;
    margin-top: 40px;
    margin-left: 40px;
}

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_close {
	width: 8px;
	height: 8px;
	cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}

#modal_close img{
    position: absolute;
    top: 3px;
    right: -1px;
}

.modal-content{
    width: 300px;
    height: 180px;
    float: left;
    margin-top: -1px;
}

.modal-text{
}

.modal-text p{
    margin: 0;
    font-family: Lora_regular;
    font-size: 12pt;
}

.button-modal-wrap{
    float: left;
    width: 215px;
    height: 35px;
}

.button-modal {
    width: 215px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #476B22, #3B591C);
    text-align: center;
}

.button-modal:hover {
    background: linear-gradient(to top, #476B22, #3B591C);
}

.button-modal a{
    text-decoration: none;
}

.button-modal-text p{
    margin: 0;
    padding-top: 9px;
    font-family: Arial;
    font-size: 11pt;
    color: white;
}

.modal-info-line{
    margin-bottom: 25px;
}


/* Пoдлoжкa */
#overlay {
	z-index:30; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

/*Product-detail*/
.product-detail{
    height: 732px;
}

.product-detail-wrapp{
    width: 100%;
    height: 732px;
}

.product-detail-item{
    width: 882px;
    float: left;
    height: 732px;
}

.row-product-detail{
    width: 100%;
    height: auto;
}

.row-title-product-detail{

}

.title-product-detail {

}

.title-product-detail p{
    font-family: garamond_regular;
    font-size: 24pt;
    margin: 0;
}

.row-after-title-procuct-detail{
    width: 100%;
    height: 20px;
}

.row-product-view{
    width: 100%;
    height: 355px;
}

.product-galery{
    width: 500px;
    height: 355px;
    margin-right: 15px;
    float: left;
    background-color: #79aec8;
}

.product-main{
    width: 367px;
    height: 355px;
    float: left;
}

.product-main-elem{
    width: 100%;
}

.product-cat-name{
    height: auto;
}

.product-cat-name p{
    margin: 0;
    font-family: Lora_italic;
    font-size: 11pt;
    color: #5b5b5b;
}

.product-price{
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-price b{
    font-family: Lora_regular;
    font-size: 12pt;
}

.product-title-descript{
    height: auto;
}

.product-title-descript p{
    font-family: Lora_italic;
    font-size: 12pt;
    margin: 0;
    color: #5b5b5b;
}

.product-text-descript{
    height: auto;
    max-height: 170px;
}

.product-text-descript p{
    font-family: garamond_regular;
    font-size: 14pt;
    margin: 0;
}

.row-input-button{
    height: 35px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.product-form-price{
    height: 30px;
    width: 90px;
    margin-right: 30px;
    float: left;
}

.product-form-price p{
    font-family: Lora_regular;
    font-size: 12pt;
    float: left;
    margin: 0;
    margin-top: 7px;
}

.product-form-price input{
    width: 60px;
    height: 24px;
    float: left;
    border-radius: 5px;
    margin-right: 9px;
    margin-top: 4px;

}

.product-form-price input::-webkit-inner-spin-button{
    opacity: 1;
}

.product-button-basket{
    height: 35px;
    width: 160px;
    float: left;
}

.button-product-wrap{
    width: 100%;
    height: 35px;
}

.button-product {
    width: 160px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #476B22, #3B591C);
    text-decoration: none;
    text-align: center;
}

.button-product:hover {
    background: linear-gradient(to top, #476B22, #3B591C);
}


.button-product p{
    padding-top: 9px;
    font-family: Arial;
    font-size: 11pt;
    color: white;
    margin: 0;
}

.product-link-back{
    width: 100%;
    float: left;
    height: auto;
    margin-top: 20px;
}

.product-link-back p{
    font-family: Lora_italic;
    font-size: 11pt;
    margin: 0;
    color: #5b5b5b;
}

/* search */

.search{
    height: 945px;
}

.row-search-result{
    width: 100%;
    height: auto;
    background-color: transparent;
}

.title-search-result{
    width: 1080px;
    height: 45px;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.title-search-result p{
    margin: 0;
    font-family: garamond_regular;
    font-size: 24pt;
}

.list-search-result{
    width: 1100px;
    height: 860px;
    margin-top: 20px;
}

.item-search-result{
    width: 275px;
    height: 270px;
    float: left;
}

.item-search{
    width: 255px;
}

.item-search-img{
    height: 150px;

}

.item-search-img img{
    height: 150px;
    width: 255px;
}

.item-search-name{
    margin-top: 8px;

}

.item-search-name p{
    font-family: garamond_bold;
    font-size: 16pt;
    height: auto;
    margin: 0;
    line-height: 18px;
}

.item-search-price{
}

.item-search-price p{
    font-family: Lora_regular;
    font-size: 12pt;
    height: auto;
    margin: 0;
    margin-top: 3px;
}

.item-search-descript{
}

.item-search-descript p{
    font-family: garamond_regular;
    font-size: 14pt;
    margin: 0;
    line-height: 20px;
}

.pagination-search-result{
    width: 100%;
}

/* basket */

.basket{
    height: 720px;
}

.row-basket{
    width: 100%;
    height: auto;
    background-color: transparent;
}

.title-basket{
    width: 1080px;
    height: 45px;
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.title-basket p{
    margin: 0;
    font-family: garamond_regular;
    font-size: 24pt;
}

.list-basket{
    width: 1100px;
    height: auto;
    margin-top: 20px;
}

.item-basket-wrap{
    width: 275px;
    height: 290px;
    float: left;
}

.item-basket{
    width: 255px;
}

.item-search-img{
    height: 150px;

}

.item-basket-img img{
    height: 150px;
    width: 255px;
}

.item-basket-name{
    margin-top: 8px;

}

.item-basket-name p{
    font-family: garamond_bold;
    font-size: 16pt;
    height: auto;
    margin: 0;
    line-height: 18px;
}

.item-basket-weight{
}

.item-basket-weight p{
    font-family: Lora_italic;
    font-size: 11pt;
    height: auto;
    margin: 0;
    margin-top: 3px;
}

.item-basket-sum{

}

.item-basket-sum p{
    font-family: Lora_Bold;
    font-size: 16px;
    margin: 5px 0 5px 0 !important;
}

.item-basket-сheckbox{
}

.item-basket-сheckbox p{
    font-family: garamond_regular;
    width: 200px !important;
    font-size: 13pt;
    margin: 0 !important;
    text-align: left;
    float: left;
}

.item-basket-сheckbox input{
    width: 13px;
    height: 13px;
    margin: 0;
    float: left;
    margin-top: 7px;
    margin-right: 10px;
    border: 0;
}


.pagination-basket-result{
    width: 100%;
    margin-bottom: 20px;
}

.row-for-button{
    width: 100%;
    height: 35px;
    display: inline-block;
}

.button-basket-wrap{
    margin: auto;
    width: 170px;
    height: 35px;
    margin-top: -15px;
}

.button-basket{
    margin: auto;
    width: 170px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #476B22, #3B591C);
    text-decoration: none;
    text-align: center;
}

.button-basket:hover {
    background: linear-gradient(to top, #476B22, #3B591C);
}

.button-basket a{
}

.button-basket p{
    padding-top: 9px;
    font-family: Arial;
    font-size: 11pt;
    color: white;
}

/*popup order*/

#modal_form-order {
	width: 420px;
	height: 320px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 7px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -160px;
	margin-left: -210px;
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 50; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}

.modal_form_order_wrap{
    width: 380px;
    height: 240px;
    margin-top: 40px;
    margin-left: 40px;
}

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_order_close {
	width: 8px;
	height: 8px;
	cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}

#modal_order_close img{
    position: absolute;
    top: 3px;
    right: -1px;
}

.modal-order-content{
    width: 340px;
    height: 240px;
    float: left;
    margin-top: -1px;
}

.modal-order-text{
}

.modal-order-text p{
    margin: 0;
    font-family: Lora_regular;
    font-size: 12pt;
}

.button-modal-order-wrap{
    float: left;
    width: 215px;
    height: 35px;
}

.button-order-modal {
    width: 215px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #476B22, #3B591C);
    text-align: center;
}

.button-order-modal:hover {
    background: linear-gradient(to top, #476B22, #3B591C);
}

.button-order-modal a{
    text-decoration: none;
}

.button-order-modal-text p {
    margin: 0;
    padding-top: 9px;
    font-family: Arial;
    font-size: 11pt;
    color: white;
}

.modal-order-info-line{
    margin-bottom: 20px;
}

.modal-order-info-line p{
    font-family: garamond_regular;
    font-size: 16pt;
    margin: 0;
}

.modal-order-form-elem p{
    font-family: garamond_regular;
    font-size: 13pt;
    margin: 0;
}

.first-modal-order-form-elem{
    width: 340px;
}


.second-modal-order-form-elem{
    width: 160px;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}

.third-modal-order-form-elem{
    width: 160px;
    float: left;
    margin-bottom: 10px;
}

.first-modal-order-form-elem textarea{
    width: 335px;
    height: 40px;
    resize: none;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid lightgray;
    font-family: Arial;
    font-size: 10pt;
    background-color: transparent;
    outline: none;
}

.first-modal-order-form-elem textarea:focus {
    box-shadow: 0 0 2px 1px #476b22;
}

.modal-order-form-elem input{
    width: 158px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid lightgray;
    box-shadow: none;
    font-family: Arial;
    font-size: 10pt;
    background-color: transparent;
    outline: none;
}

.modal-order-form-elem input:focus {
    box-shadow: 0 0 2px 1px #476b22;
}

.button-order-modal-wrap{
    margin-top: 18px;
    display: inline-block;
}

.button-order-modal{
    width: 160px;
    height: 35px;
}

.button-order-modal-text p{
    font-family: Arial;
    font-size: 14pt;
}

/*popup order closed*/

#modal_form-order-closed {
	width: 460px;
	height: 260px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 7px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -130px;
	margin-left: -230px;
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 50; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}

.modal_form_order_closed_wrap{
    width: 380px;
    height: 180px;
    margin-top: 40px;
    margin-left: 40px;
}

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal-order-closed_close {
	width: 8px;
	height: 8px;
	cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}

#modal-order-closed_close img{
    position: absolute;
    top: 3px;
    right: -1px;
}

.modal-order-closed-content{
    width: 380px;
    height: 180px;
    float: left;
    margin-top: -1px;
}

.modal-order-closed-text{
}

.modal-order-closed-text p{
    margin: 0;
    font-family: Lora_regular;
    font-size: 12pt;
}

.button-order-closed-modal-wrap{
    float: left;
    width: 380px;
    height: 35px;
}

.button-order-closed-modal {
    width: 215px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #476B22, #3B591C);
    text-align: center;
}

.button-order-closed-modal:hover {
    background: linear-gradient(to top, #476B22, #3B591C);
}

.button-order-closed-modal a{
    text-decoration: none;
}

.button-order-closed-modal-text p {
    margin: 0;
    padding-top: 9px;
    font-family: Arial;
    font-size: 11pt;
    color: white;
}

.modal-order-closed-info-line{
    margin-bottom: 20px;
}

.modal-order-closed-info-line p{
    font-family: garamond_regular;
    font-size: 16pt;
    margin: 0;
}

.modal-order-closed-form-elem p{
    font-family: garamond_regular;
    font-size: 13pt;
    margin: 0;
}

.modal-order-closed-first-text{

}

.modal-order-closed-first-text p{

}

.modal-order-closed-second-text{
    width: 95%;
}

.modal-order-closed-second-text p{
    font-family: garamond_regular;
    font-size: 14pt;
}

.button-order-closed-modal-wrap{
    margin-top: 2px;
    display: inline-block;
}

.button-order-closed-modal{
    width: 140px;
    height: 35px;
    margin: auto;
}

.button-order-closed-modal p{
    padding-top: 7px;
    font-family: Arial;
    font-size: 13pt;
}